.color-black{
    background-color: #333333;
}

.color-gray{
    background-color: #706c61;
}

.color-white{
    background-color: #ffffff ;
}

.color-blue{
    background-color: #e1f4f3;
}

/* Youtube styling */
.youtubeResultsClass {
    height: 300px;
    width: 500px;
    background-color: black;
}









