.color-black{
    background-color: #333333;
    color: #ffffff;
    border: none
}

.color-gray{
    background-color: #706c61;
}

.color-white{
    background-color: #ffffff ;
}

.color-blue{
    background-color: #e1f4f3;
}

.blueStyle{
    background-color: #e1f4f3;
    color: #333333;
    padding: 15px;
}

.blackStyle{
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
}

.greyStyle{
    background-color: #706c61;
    color: #ffffff;
    padding: 15px;
}

.holidayStyle{
    background-color: #706c61;
    color: #ffffff;
    padding: 15px;
}

.text-blue{
    color: #e1f4f3;
}

.holidayResultsClass {
    font-weight: bold;
}

/* Bottom left text */
.bottom-left {
    position: relative;
    bottom: 8px;
    left: 16px;
    color: white;
    height: 100%;
}   
.header{
    font-weight: bold;
    font-size: large;
}



ol {
    list-style-type: decimal;
}
.dictionaryStyle{
    background-color: #333333;
    color: #e1f4f3;
}
.is-active {
    display: block;
}
.hideTile {
    display: none;
}

.icon-active{
    padding: .25rem;
    color: #e1f4f3;
    background-color: #706c61;
}

.icon-inactive{
    padding: .25rem;
    color: #706c61;
    background-color: #e1f4f3;
}

.navbar {
    background-color: initial;
}
.navbar-item {
    background-color: initial;
}
.navbar-link{
    background-color: white;
}
html { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tileWrapper{
    display: none;
}
#inlineBlock {
    display: inline-block;
}
.restaurantResults {
    color: #333333;
}

.aqi-tile {
    color: #ffffff;
}

.aqi-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.aqi-readout{
    margin-bottom: .2rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.aqi-readout-box{
    padding: .2rem .5rem;
    border-radius: 3px;
}

.sports-tile{
    color: #ffffff;
}

.sports-title{
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.sports-scores-container{
    padding: .2rem;
    border-radius: 3px;
    height: 150px;
    /* background-color: red; */
    overflow: scroll;
    overflow-x: hidden;
}
/* .sports-scores-container::-webkit-scrollbar{
    background: none;
} */

.score-background{
    background-color: #333333;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.score-background p{
    font-size: .8rem;
    font-weight: 600;
}

div .column-spacer{
    margin: -5px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    color: #ffffff;
    font-size: .75rem;
}

.time-box {
    font-size: 24px;
    padding: .25rem;
    color: #333333;


    
}

