/* 
.columns {
	margin: 0;
}

@media screen and (min-width: 768px) {

	.columns {
	    margin-left: -2rem;
	    margin-right: -2rem;
	    margin-top: -2rem;
	}

} */

.color-black{
    background-color: #333333;
    color: #ffffff;
    border: none
}
button:hover{
    color: #ffffff;
    background-color: whitesmoke;
}
button:active{
    border: 1px thin blue;
    color: white
}
.color-gray{
    background-color: #706c61;
}

.color-white{
    background-color: #ffffff ;
}

.color-blue{
    background-color: #e1f4f3;
}

.blueStyle{
    background-color: #e1f4f3;
    color: #333333;
    padding: 15px;
}

.blackStyle{
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
}

.greyStyle{
    background-color: #706c61;
    color: #ffffff;
    padding: 15px;
}

.is-active {
    position: initial;
    visibility: initial;
}

.hideTile {
    position: absolute;
    visibility: hidden;
}

/* end here */


.holidayStyle{
    background-color: #706c61;
    color: #ffffff;
    padding: 15px;
}

.text-blue{
    color: #e1f4f3;
}

.holidayResultsClass {
    font-weight: bold;
}

/* Bottom left text */
.bottom-left {
    position: relative;
    bottom: 8px;
    left: 16px;
    color: white;
    height: 100%;
}   
.header{
    font-weight: bold;
    font-size: large;
}



ol {
    list-style-type: decimal;
}
.dictionaryStyle{
    background-color: #333333;
    color: #e1f4f3;
}


.icon-active{
    padding: .25rem;
    color: #e1f4f3;
    background-color: #706c61;
}

.icon-inactive{
    padding: .25rem;
    color: #706c61;
    background-color: #e1f4f3;
}

.navbar {
    background-color: initial;
}
.navbar-item {
    background-color: initial;
}
.navbar-link{
    background-color: white;
}

.navbar-burger.is-active{
    background-color: white;
}

.navbar-burger.is-active span {
    position: relative;
    left: 18px;
    
}

.navbar-burger.is-active span:nth-child(3) {
    top: 26px;

}

.navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
    top: 18px;

}



html { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tileWrapper{
    display: none;
}
#inlineBlock {
    display: inline-block;
}
.restaurantResults {
    color: #333333;
}

.aqi-tile {
    color: #ffffff;
}

.aqi-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.aqi-readout{
    margin-bottom: .2rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.aqi-readout-box{
    padding: .2rem .5rem;
    border-radius: 3px;
}

.sports-tile{
    color: #ffffff;
}

.sports-title{
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.sports-scores-container{
    padding: .2rem;
    border-radius: 3px;
    height: 150px;
    /* background-color: red; */
    overflow: scroll; 
    overflow-x: hidden;
}
/* .sports-scores-container::-webkit-scrollbar{
    background: none;
} */

.score-background{
    background-color: #333333;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.score-background p{
    font-size: .8rem;
    font-weight: 600;
}

div .column-spacer{
    margin: -5px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    color: #ffffff;
    font-size: .75rem;
}

/* animation styles */
.box{
    opacity: 1;
    transition: .5s all ease-in-out;
}

.box-header{
    opacity: 1;
    transform: translateY(0px);
    transition: .7s all ease-in-out;
}

.box-content{
    opacity: 1;
    transform: translateY(0px);
    transition: 1.2s all ease-in-out;
}

.box-hide{
    opacity: 0;
}

.box-hide .box-content{
    opacity: 0;
    transform: translateY(20px);
}

.box-hide .box-header{
    opacity: 0;
    transform: translateY(-40px);
}

.display-hide {
    position: absolute;
    visibility: hidden;
}

.display-show {
    position: initial;
    visibility: initial;
}
/* end animation styles */

.time-box {
    font-size: 24px;
    /* padding: .25rem; */
    color: #333333;


    
}

.welcome-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 25rem;
    max-height: 1rem;
}